@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body,
html {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    width: 100vw;
}

/* INICIO DO HEADER */

.header {
    display: flex;
    padding: 30px 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-shrink: 0;
    background-color: #353539;
}

.header a {
    color: #fff
}

.main-banner img {
    width: 100%;
}

.logo img {
    width: 10vw;
    /* 10% da largura da viewport */
    max-width: 150px;
    /* Limita o tamanho máximo */
    height: auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 40px 150px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
}

.container-ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
    color: #fff;
}

/* FIM DO HEADER */


.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container h1 {
    margin-bottom: 40px;
    color: #59B146;
    text-align: center;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.content-container p {
    margin-bottom: 20px;
    color: #353539;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 50px;
}

.content-container img {
    width: 80%;
    margin-bottom: 30px;
}

.fontes{
    display: inline-block;
    width: 411px;
    height: 265px;
    padding: 55px 21px 36px 21px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-bottom: 8%;
    
    }
.fontes p {
    color: #ffff;
}
.banner {
    width: 100%;
}

.botao{
    margin-left: 300px;
}

.container-logo {
    width: 10px;
    height: 20px;
}
.link {
    color: #C6C6C6;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 40px;
    line-height: normal;
    text-decoration: none;
}

.form1{
    width: 700px;
    align-items: center;
    height: 100px;
    padding: 1px;
    margin-left: 300px;
}

.form2{
    width: 700px;
    margin-left: 300px;
    align-items: center;
    height: 100px;
    padding: 1px;

}
.quem-somos h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 83px;
    color: #59B146;
    text-align: left;
    font-family: "Inter";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    
}

.container h2{
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 390px;
    color: #59B146;
    text-align: left;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.container-main {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    width: 88%;
    max-width: 1768px;
    height: 100%;
}

/* INICIO DO RODAPÉ */

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 0px 100px;
    background-color: #353539;
}

.sociais {
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    flex-shrink: 0;
}

.recursos li {
    list-style-type: none;
}

.recursos h2 {
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.recursos {
    display: flex;
    flex-direction: row;
}

.links-recursos {
    display: flex;
    width: 708px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 60px;
}

.links-recursos ul li {
    color: #FFF;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0;
}

.links-endereco {
    color: #FFF;
}

.logo-footer {
    margin-left: 83px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.btn-seta {
    margin-left: 83px;
    margin-top: 25px;
    margin-bottom: 0px;
    flex-direction: row;

    .btn-topo {
        cursor: pointer;
    }
}

/* FIM DO RODAPÉ */

label {
    display: block;
}

input {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid #59B146;
    border-radius: 5px;
    background-color: #1F1F25;
    color: #fff;
    outline: none;
    width: 80%;
    height: 60px;
    align-items: center;
}

button {
    width: 300px;
    height: 55px;
    padding: 15px;
    margin-top: 55px;
    margin-bottom: 200px;
    border: none;
    border-radius: 25px;
    background-color: #59B146;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 20px;
}

.cadastro {
    color: #fff;
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
}