@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    
}

.container-header {
    width: 100vw;
    height: auto;
   
    height: 101.784px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    background: #1F1F25;
}
.logo {
    width: 20%;
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo img {
    margin-left: -40px;
}

.container-nav {
    min-width: 50%;
    display: flex;
    align-items: center;
    gap: 20%;
    justify-content: flex-start;

}
.fontes{
    display: inline-block;
    width: 411px;
    height: 265px;
    padding: 55px 21px 36px 21px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-bottom: 8%;
    
    }
.fontes p {
    color: #ffff;
}
.banner {
    width: 100%;
}
.container-ul {
    display: inline-flex;
    width: 25%;
    max-width: 28%;
    gap: 20%;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    color: #C6C6C6;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 40px;
    line-height: normal;
    text-decoration: none;
}

.quem-somos h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 83px;
    color: #59B146;
    text-align: left;
    font-family: "Inter";
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.quem-somos img{
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
   
}



.quem-somos img{
    margin-left: 95px;
    margin-right: 50px;
}


.quem-somos h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 83px;
    color: #59B146;
    text-align: left;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
 }
.quem-somos p {
   
    margin-left: 83px;
    margin-right: 83px;
    margin-bottom: 40px;
    color: #353539;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quem-somos ul li {
    font-size: 25px;
     margin-left: 83px;
    margin-right: 83px;
    margin-bottom: 40px;
}
 

.container-main {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    width: 88%;
    max-width: 1768px;
    height: 100%;
}


.lista-jogos,
.jogo,
.infos-jogo {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}

.jogo,
.infos-jogo {
    flex-direction: column;
}

.jogo img {
    height: 375px;
}



.nome-jogo {
    color: #fff;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
}



.rodape {
    width: 100vw;
    height: 600px;
    flex-shrink: 0;
    background: #1F1F25;
    margin-top: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 88%;
}

.infos-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
}

.sociais {
    display: flex;
    width: 221px;
    height: 103px;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
    margin-bottom: 26px;
}

.recursos {
    display: flex;
    width: 708px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.recursos h5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.links-recursos {
    display: flex;
    width: 708px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 60px;
}

.links-recursos ul li {
    color: #FFF;
    font-family: "inter";
    font-size: 22px;
    font-style: normal;
    line-height: normal;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: start;
}

.btn-topo {
    cursor: pointer;
}

