@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter";
    }


    .header {
        display: flex;
        width: 1440px;
        padding: 49px 84px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-shrink: 0;
        background-color: #353539;
    }

    .quem-somos img {
        width: 1060px;
    height: 451px;
    flex-shrink: 0;
    }
    .banner1  {
        width: 100%; /* Ocupa toda a largura da tela */
        height: 30px; /* Altura fixa */
        background-size: cover; /* Ajusta o tamanho da imagem para cobrir o espaço */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Evita repetição da imagem */
    }
    .logo img {
        width: 172.662px;
        height: 34.606px;
        flex-shrink: 0;
    }

    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 78px;
    }

    .container-ul {
        list-style-type: none;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 78px;
        color: #fff;
    }

    .quem-somos h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 83px;
        color: #59B146;
        text-align: left;
        font-family: "Inter";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .quem-somos p {
        width: 1272px;
        margin-left: 83px;
        margin-right: 83px;
        margin-bottom: 15px;
        color: #353539;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    .footer-container {
        width: 1440px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        background-color: #353539;
    }

    .infos-footer {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        color: #fff;
    }
    .img{
       margin: 555px ;
    }

    .voltar {
        position: absolute;
        top: 1%;
        left: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sociais {
        margin-left: 83px;
        display: flex;
        width: 221px;
        height: 103px;
        align-items: center;
        gap: 13px;
        flex-shrink: 0;
        margin-top: 30px;
        margin-bottom: 26px;
    }

    .recursos li {
        list-style-type: none;
    }

    .recursos h2 {
        margin-left: 83px;
        color: #FFF;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .links-recursos {
        margin-left: 83px;
        display: flex;
        width: 708px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 60px;
    }

    .links-recursos ul li {
        color: #FFF;
        font-family: "Inter";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 5px 0;
    }

    .logo-footer {
        margin-left: 83px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
    }

    .btn-seta {
        margin-left: 83px;
        margin-top: 25px;
        margin-bottom: 0px;
        flex-direction: row;

    .btn-topo {
        cursor: pointer;
    }

    @media (max-width: 950px) {
        .header {
            flex-wrap: wrap;
        }
    
        .img-principal img {
            width: 60%;
        }
    
        .btn-saibamais {
            width: 100%;
        }
    }
}